@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=DynaPuff:wght@400..700&family=Fredoka:wdth,wght@75..125,300..700&display=swap');

body {
    background: linear-gradient( #4dcfd8,#c3fff7, #c3fff7);
    /*background-color: #f5efe6;*/
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}

.container {
    position: absolute;
    display: flex;
    bottom: 50% ;
    flex-direction: column;
    width: min(85%, 800px);
}


.parallax {
    position: relative;
    z-index: -1;
    min-height: 120vh;
    min-width: 100vw;
    overflow: hidden;
}

#grass1, #grass2, #ornament, #cloud{
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#grass1 {
    scale: .9 .9;
    top: 40%;
    max-height: 50%;
    right: 22%;
    z-index: -1;
}

#ornament {
    /*position: fixed;*/
    z-index: -3;
    scale: 0.8;
}

#grass2 {
    scale: .9 ;
    top: 50%;
    max-height: 40%;
    left: 25%;
    z-index: -2;
}

#cloud {
    bottom: 30%;
    scale: 1.15 1.2;
    max-height: 50%;
    left: 2%;
    z-index: -4;
    animation: moveCloud 10s ease-in-out infinite alternate;
}

#bottombar {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-height: 60%;
    /*min-height: 0%;*/
    top:55%;
    scale: 1.15;
    z-index: 0;
}



#clock {
    text-align: center ;
    color: #d5a16c ;
    font-family: Chewy ;
    font-size: clamp(6rem, 10vw, 20rem);
    top: 50%;
    margin-bottom: -5%;

}
#calender {
    text-align: center ;
    color: #b39977;
    font-family: Chewy ;
    font-weight: 500;
    font-variation-settings:"wdth" 80;
    font-size: clamp(1rem, 5vw, 3rem);
    margin: 20px;

}


#search-form {
    display: flex;
    width: 100%;
    align-items: center;
    /*margin-top: 20%;*/
}

#search-btn::before{
    font-family: 'fredoka';
    font-weight: 550;
    font-variation-settings:"wdth" 75;
    font-size: 1.5rem;
    content: "SEARCH 🔍︎";
}

#search-btn:hover{
    scale: 1.05;
}

#search-btn {
    flex-shrink: 0;
    width: min(85%, 120px);
    height: 45px;

    padding-top: 3px;

    background-color: #e9904b;
    color: #8e5117;

    outline: 5px solid;
    outline-color: #ca8139;
    outline-offset: -2px;
    border-radius: 10px;

    margin-left: 20px;

    cursor: pointer;

    transition: all 0.3s ease;
}

#search-input {
    flex-shrink: 1;
    padding: 5px 10px;
    width: min(85%, 700px);
    height: 40px;

    /*border: 5px solid ;*/

    background-color: #f7e7cb;
    color: #d5a16c;

    font-family: 'fredoka';
    font-size: 1.5rem;

    outline: 5px solid;
    outline-offset: -2px;
    border-radius: 10px;

    transition: all 0.3s ease;

}


#search-input:focus {
  /*border-color: #fe8019;*/
  border-color: #f7e7cb;
  scale: 1.03;
}

.weather-container {
    position: absolute;
    z-index: 10;
    width: 90vw;
    height: 40vh;
    top: 80vh;
    /*scale: 5;*/
    /*overflow: hidden;*/
}

.current-weather {
    position: absolute;
    left:80%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 15px;
    row-gap: 0;

    align-items: center;

    font-family: Chewy;
    font-weight: 550;
    color: aquamarine;
    font-size: clamp(3rem, 2.7vw, 8rem);
}

.current-weather p {
    margin: 0;
}
#weather-icon {
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: 180%;
}
#temperature {
    grid-column: 2;
    grid-row: 1;
    font-size: 65%;
}
#condition {
    grid-column: 2;
    grid-row: 2;
    font-size: 140%;
}
#humidity {
    grid-column: 1;
    grid-row: 3;
    font-size: 70%;
}

#rain {
    grid-column: 2;
    grid-row: 3;
    font-size: 70%;
}

.weather-forecast {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: fredoka;
    margin-top: 20vh;
    font-weight: 450;
    color: lemonchiffon;
    font-variation-settings:"wdth" 90;
    font-size: clamp(2.2rem, 2.3vw, 8rem);
}


.forecast-day {
    flex: 1;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
}

.forecast-day p {
    margin: 5px ;
}





@keyframes moveCloud {
    from {
        transform: translate(40px);
    }
    to {
        transform: translate(-40px);
    }
}

@media (max-width: 768px) and (orientation: portrait) {



    .weather-container {
        width: 100vw;
        /*right: 10%;*/
    }


    .current-weather {
        top: 20%;
        left: 73vw;
        font-size: clamp(1rem, 3.5vw, 3.5rem);

    }

    .weather-forecast {
        /*margin-right: 50px;*/
        width: 100vw;
        overflow-x: auto;
        display: flex;
        gap: 10px;
        font-size: clamp(1.5rem, 2.5vw, 3rem);
    }

    .forecast-day {
        flex: 0 0 100px;
        margin-top: 4vh;
    }

    .container {
        bottom: auto;
        top: 2%;
        left: 8%;
    };

    #bottombar {
        position: absolute;
        max-height: 36%;
        top:66%;
    };

    #ornament {
        max-height: 60%;
        top: 20%;
    };

    #grass1 {
        top: 45%;
        max-height: 42%;

    }
}
